
<div class="slide-in-bottom">

  <div class="box">
    <app-filtros (clickConsultarDatos)="cargarPaginaFiltros()"></app-filtros>
  </div>

  <div class="add">
    <button mat-stroked-button (click)="addCliente()">Asignar Clientes <mat-icon>add</mat-icon></button>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>


  <div class="mat-elevation-z6">
    <table mat-table [dataSource]="dataSource">
      
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef> <mat-icon>settings</mat-icon> </th>
        <td mat-cell *matCellDef="let element"> 
           <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"  matTooltip="Clik para opciones">
            <mat-icon>more_vert</mat-icon>
           </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>

        </td>
      </ng-container>

      <ng-container matColumnDef="nombres">
        <th mat-header-cell *matHeaderCellDef> Nombres </th>
        <td mat-cell *matCellDef="let element"> {{element.cliente.nombres}} </td>
      </ng-container>

      <ng-container matColumnDef="apellidos">
        <th mat-header-cell *matHeaderCellDef>Apellidos</th>
        <td mat-cell *matCellDef="let element"> {{element.cliente.apellidos}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.cliente.email}} </td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Télefono </th>
        <td mat-cell *matCellDef="let element"> {{element.cliente.telefono}} </td>
      </ng-container>

       <ng-container matColumnDef="tecnico">
        <th mat-header-cell *matHeaderCellDef> Técnico </th>
        <td mat-cell *matCellDef="let element"> {{element.usuario.userName}} </td>
       </ng-container>


      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha Visita </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaVisita | date: 'shortDate'}} </td>
      </ng-container> 

       <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{
        'estado-pendiente': element.estado.nombre === 'pendiente',
        'estado-proceso': element.estado.nombre === 'proceso',
        'estado-completado': element.estado.nombre === 'completado'
      }"> {{element.estado.nombre}} </td>
       </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="select-row"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>


</div>

